[Unit]
Description=This service sets the indicator LED into the heartbeat mode on shutdown.
DefaultDependencies=no
After=final.target

[Service]
Type=oneshot
ExecStart=/webroot/gStation/sh/heartbeat_indicator.sh

[Install]
WantedBy=final.target