/* cadbury Purple: #3b0084 */
body {
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 16px;
	color: #999;
}
p {
	margin-bottom: 1em;
}

strong {
	/*font-size:110%;*/
	font-weight: 700;
	color: #666;
}

blockquote {
	font-family: 'Architects Daughter', cursive;
}

textarea.text-input {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

h1, h2, h3, h4 {
	margin-top: 30px;
	margin-bottom: 20px;
	text-transform: none;
	color: #333;
}

h1:first-of-type {
	margin-top: 0px;
}

h1, h2 {
	font-weight: 600;
}

h3, h4 {
	font-weight: 400;
}

h1 {
	font-size: 22px;
	text-transform: uppercase;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

p, li {
	margin-bottom: 10px;
}

li p {
	margin-bottom: 0px;
}

a {
	color: #3b0084;
}

a:link, a:visited, a:link:active, a:visited:active {
	color: #3b0084;
	cursor: auto;
	font-weight: 600;
}

a:hover {
	color: #6000ff;
}

pre {
	text-align: left;
}

.container-fluid {
	padding: 30px 10px;
}

.close {
	line-height: 1.4em;
}

.bg-grey {
	background-color: #eee;
}

footer.app-footer {
	background-color: #3b0084 !important;
	color: #fff !important;
}

@media screen and (max-width: 768px) { /*
	.btn-lg {
		width: 100%;
	}
*/
}

textarea.ng-invalid.ng-pristine, input.ng-invalid.ng-pristine {
	box-shadow: 0px 0px 20px rgba(255, 164, 0, .3);
	border-color: #ccc;
}

textarea.ng-invalid.ng-dirty, input.ng-invalid.ng-dirty {
	box-shadow: 0px 0px 20px rgba(128, 0, 0, .9);
	border-color: #f00;
	color: #f00;
}

textarea.ng-valid.ng-dirty, input.ng-valid.ng-dirty {
	box-shadow: 0px 0px 20px rgba(0, 203, 0, .3);
	border-color: #090;
}

/* Extra Small Devices, .visible-xs-* */
@media ( max-width : 767px) {
	.pull-right-xs {
		float: right;
	}
}

/* Small Devices, .visible-sm-* */
@media ( min-width : 768px) and (max-width: 991px) {
	.pull-right-xs {
		float: right;
	}
	.pull-right-sm {
		float: right;
	}
}

/* Medium Devices, .visible-md-* */
@media ( min-width : 992px) and (max-width: 1199px) {
	.pull-right-xs {
		float: right;
	}
	.pull-right-sm {
		float: right;
	}
	.pull-right-md {
		float: right;
	}
}

/* Large Devices, .visible-lg-* */
@media ( min-width : 1200px) {
	.pull-right-xs {
		float: right;
	}
	.pull-right-sm {
		float: right;
	}
	.pull-right-md {
		float: right;
	}
	.pull-right-lg {
		float: right;
	}
}

#page-loading {
	padding-top: 50px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

#page-loading img {
	margin: 0 auto;
}

strong.indicator {
	font-weight: 600;
	color: #f00;
}

footer {
	border-top: solid 1px #ddd;
}
/************************************/
nav.navbar {
	border: 0;
	border-top: solid 1px #ccc;
	border-radius: 0;
	margin: 0;
	/* margin-bottom: 20px; */
}

.nav-justified>li>a, .nav-justified>li.active>a {
	border: 0;
	border-bottom: solid 1px #ddd !important;
}

.nav-justified>li.active>a {
	background-color: #eee;
}

nav .nav, footer nav .nav li {
	margin: 0;
}

.headliner {
	border-bottom: solid 1px #ccc;
}

.headliner img {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

footer {
	border-top: solid 1px #ccc;
	background-color: #fff !important;
	color: #3b0084 !important;
	padding-top: 10px;
	padding-bottom: 50px;
}

footer.app-footer p {
	line-height: 1.4em;
}

@media ( max-width : 768px) {
	.nav-justified>li {
		display: table-cell;
		width: 1%;
	}
	.nav-justified>li>a {
		border-bottom: 1px solid #ddd !important;
		border-radius: 6px 6px 0 0 !important;
		margin-bottom: 0 !important;
	}
	.nav-justified>li.active>a {
		border-bottom: 1px solid transparent !important;
	}
}

.table-striped tbody>tr:nth-child(even)>td, .table-striped tbody>tr:nth-child(even)>th
	{
	background-color: #f1f1f1;
}

.form-control.disabled {
	color: #ddd;
}

.btn-group button.btn {
	border-radius: 0px;
}

.btn-group button.btn:first-child {
	border-radius: 6px 0 0 6px;
}

.btn-group button.btn:last-child {
	border-radius: 0 6px 6px 0;
}

.tab-pane {
	padding-top:10px;
	padding-bottom:20px;
}

/*************
 * image protection
 */
cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.covered {
	position: relative;
}

.covered img {
	display: none;
}

/************
 */
.snapshot-container {
	margin-bottom: 20px;
}

.location-container, .nextsun-container {
	margin: auto;
	width: 60%;
	min-width: 350px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
	border: solid 1px #ccc;
	background-color: #eee;
	border-radius: 10px;
	margin-bottom: 20px;
}

.nextsun-container {
	padding-top:20px;
	padding-bottom:20px;
	font-weight: 500;
	font-size: 18pt;
	text-transform: capitalize;
}

.colour-container, .trigger-container, .sensor-container, .alarm-holder {
	text-align: center;
	vertical-align: top;
	margin-bottom: 10px;
}

.colour-holder, .trigger-holder, .sensor-holder, .alarm-holder {
	display: inline-block;
	margin: 0 auto;
	width: 80px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
	margin-right: 5px;
}

.sensor-holder, .alarm-holder {
	width: 120px;
	border: solid 1px #ccc;
	border-radius: 10px;
	margin-bottom: 10px;
}

.demand-holder {
	margin-left: 5px;
	margin-right: 3px;
}

.sensor-holder .name {
	color: #333;
}

.alarm-holder.alarm-never {
	background-color: #cfc;
	color: #999;
}

.alarm-holder.alarm-yes {
	background-color: #fc9;
	color: #666;
}

.alarm-holder.alarm-now {
	border-color: #000;
	color: #ccc;
	background-color: #c00;
}

.sensor-holder.light-moon .name {
	color: #fff;
}

.sensor-holder.light-sun .name {
	color: #333;
}

.sensor-holder.state-alarm .name {
	color: #fff;
}

.sensor-holder.state-normal .name {
	color: #333;
}

.sensor-holder.light-moon {
	background-color: #003;
	color: #aaa;
}

.sensor-holder.light-sun {
	background-color: #fc9;
	color: #666;
}

.sensor-holder.state-alarm {
	border-color: #000;
	background-color: #c00;
	color: #ccc;
	background-color: #c00;
}

.sensor-holder.state-normal {
	background-color: #cfc;
	color: #999;
}

.sensor-holder.state-disabled, .sensor-holder.state-disabled .name, .trigger-holder.state-disabled {
	background-color: #dadada;
	color: #aaa;
}

.trigger-holder {
	width: 80px;
	border: solid 1px #ccc;
	border-radius: 10px;
	margin-bottom: 10px;
}

.trigger-holder.state-on {
	background-color:#0c0;
	color:#fff;
}
.trigger-holder.state-off {
	background-color:#030;
	color:#999;
	
}
.chart-container {
	position: relative;
}
